@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.app {
  @include flexbox.flexbox(center center);
  flex-direction: column;
  gap: 30px;
  padding-top: 20px;
  margin: 20px 0 20px 0;
  text-align: center;
}
